#text {
  position: relative;
  z-index: 10;
  max-width: 100%;
  overflow: hidden;
}

#wrapper {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0663c3;
  z-index: 2;
  overflow-x: hidden;
}

#wrapper.active {
  right: 300px;
}
