@keyframes font-carousel {
  0% {
    font-family: "Monoton", "Courier New", monospace;
  }
  20% {
    font-family: "Water Brush", "Brush Script MT", cursive;
  }
  40% {
    font-family: "Rubik Moonrocks", "Garamond", serif;
  }
  60% {
    font-family: "Kablammo", "Georgia", serif;
  }
  80% {
    font-family: "Bungee Shade", "Trebuchet MS", sans-serif;
  }
  100% {
    font-family: "Henny Penny", "Tahoma", sans-serif;
  }
}
