@font-face {
  font-family: 'Acme';
  src: url('../fonts/Acme.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bungee Shade';
  src: url('../fonts/BungeeShade.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Henny Penny';
  src: url('../fonts/HennyPenny.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kablammo';
  src: url('../fonts/Kablammo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monoton';
  src: url('../fonts/Monoton.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Patrick Hand';
  src: url('../fonts/PatrickHand.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Moonrocks';
  src: url('../fonts/RubikMoonrocks.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Water Brush';
  src: url('../fonts/WaterBrush.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
