.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 1em;
}

span#source-code {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 2em;
    color: floralwhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 800;
}

span#source-code:hover {
    color: gold;
}