#menu {
  position: absolute;
  top: 0;
  left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

#menu ul {
  position: relative;
}

#menu ul li {
  display: inline;
  padding: 1em;
  list-style: none;
  text-decoration: none;
  font-family: "Amatic SC";
  font-size: 2em;
  color: gold;
  opacity: 0.8;
}

#menu ul:hover li {
  filter: blur(1px);
}

#menu ul li:hover {
  color: floralwhite;
  filter: blur(0);
}
