#alvin {
  border-radius: 50%;
  height: 12em;
  width: 12em;
}

#books {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#books img {
  height: auto;
  max-height: 240px;
  max-width: 100%;
  padding: 8px;
}

#books img:hover {
  border: 0.5px solid gold;
}
