form {
  display: block;
}

label {
  display: block;
  font-size: 1.2em;
  text-align: left;
  color: floralwhite;
}

input[type="email"],
select,
textarea {
  width: 400px;
  padding: 12px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Patrick Hand", cursive, sans-serif;
  color: whitesmoke;
  background-color: cornflowerblue;
  opacity: 0.4;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#message {
  height: 120px;
}

input[type="submit"] {
  color: #01112b;
  background-color: gold;
  opacity: 0.8;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: floralwhite;
}

input:focus,
textarea:focus {
  outline: solid antiquewhite;
  opacity: 0.8;
}

.submit {
  display: block;
}
