@media (max-width: 991px) {

    .menu ul li {
        padding: 0.6em;
    }

    .wrapper {
        padding-left: 2em;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}