#source-code {
  position: absolute;
  z-index: 10;
  bottom: 1.6em;
  right: 2em;
  font-family: monospace;
  font-size: 24px;
  font-weight: 800;
  color: floralwhite;
}

#source-code:hover {
  color: gold;
}
