@import url(./boop.css);
@import url(./email.css);
@import url(./footer.css);
@import url(./icon.css);
@import url(./images.css);
@import url(./menu.css);
@import url(./text.css);
@import url(./video.css);
@import url(./wrapper.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", sans-serif;
}

a {
  color: gold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: floralwhite;
}

h2 {
  font-family: "Water Brush", serif;
  font-size: 6em;
  font-weight: 8;
  color: floralwhite;
  opacity: 0.8;
  line-height: 1.5em;
}

h3 {
  font-size: 2em;
  font-weight: 500;
  color: floralwhite;
  line-height: 1.5em;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
  color: floralwhite;
  opacity: 0.8;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text {
  position: relative;
  z-index: 10;
}

.menu {
  position: absolute;
  top: 0;
  left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.menu ul {
  position: relative;
}

.menu ul li {
  display: inline;
  padding: 1em;
  list-style: none;
  text-decoration: none;
  font-family: "Amatic SC";
  font-size: 2em;
  color: floralwhite;
  opacity: 0.8;
}

.menu ul li:hover {
  color: gold;
}

form {
  display: block;
}

label {
  display: block;
  font-size: 1.2em;
  text-align: left;
  color: floralwhite;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Patrick Hand", cursive, sans-serif;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.4;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  color: #01112b;
  background-color: gold;
  opacity: 0.8;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: floralwhite;
}

input:focus,
textarea:focus {
  outline: solid antiquewhite;
  opacity: 0.8;
}

.submit {
  display: block;
}

.rc-anchor-light {
  opacity: 0.8;
}

@media (max-width: 991px) {
  .menu ul li {
    padding: 0.6em;
  }

  .wrapper {
    padding-left: 2em;
  }

  .text h2 {
    font-size: 4em;
  }

  .text h3 {
    font-size: 2em;
  }
}
