@import url(./books.css);
@import url(./form.css);
@import url(./icon.css);
@import url(./menu.css);
@import url(./overlay.css);
@import url(./showcase.css);
@import url(./text.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: gold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 2em;
    left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social li {
    list-style: none;
  }
  
  .social li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 1em;
  }
  
  #source-code {
    position: absolute;
    z-index: 10;
    bottom: 1.6em;
    right: 2em;
  }

@media (max-width: 991px) {

    .showcase {
        padding-left: 2em;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}