@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(./books.css);
@import url(./form.css);
@import url(./menu.css);
@import url(./overlay.css);
@import url(./showcase.css);
@import url(./social.css);
@import url(./text.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: gold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
}


#academiadotedu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 800;
}

@media (max-width: 991px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}