.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    cursor: pointer;
}