.wrapper {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0663c3;
  z-index: 2;
}

.wrapper.active {
  right: 300px;
}
