@font-face {
  font-family: "bungee_shaderegular";
  src: url(fonts/bungeeshade-regular-webfont.woff2);
  font-display: swap;
}
@font-face {
  font-family: "untitled-font-1";
  src: url(fonts/untitled-font-1.woff);
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url(fonts/ubuntu-regular-webfont.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Dancing Script";
  src: url(fonts/dancingscript-variablefont_wght-webfont.woff2);
  font-display: swap;
}
a {
  color: #9e2a2b;
  opacity: 0.7;
  text-decoration: none;
}
a:hover {
  color: #540b0e;
  opacity: 1;
}
body {
  width: 75%;
  height: 100%;
  padding: 50px;
  color: #540b0e;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232571d8' fill-opacity='0.38'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
summary:focus {
  outline: none;
}
img {
  margin: 20px;
  box-shadow: 0 0 2px #ff0000;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
summary, h2 {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 28px;
}
form {
  display: block;
  text-align: left;
}
input[type="text"],
select,
textarea {
  width: 75%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  color: #9e2a2b;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  padding: 8px 24px;
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}
input[type="submit"]:hover {
  opacity: .5;
}
.submit {
  display: block;
  text-align: left;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
.round {
  border-radius: 50%;
}
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\62";
}
.icon-github:before {
  content: "\63";
}
.icon-pencil:before {
  content: "\64";
}
.icon-codepen:before {
  content: "\65";
}
.banner h1 {
  margin: 0;
  color: #9e2a2b;
  font-size: 70px;
  font-family: "bungee_shaderegular", cursive;
  font-weight: bolder;
}
.banner h2 {
  color: #9e2a2b;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin: 10px;
}
footer {
  margin-top: 10px;
  height: 50px;
}
.footer-links {
  display: float;
  text-align: right;
}
.footer-links a {
  color: #9e2a2b;
  text-decoration: none;
  font-size: 25px;
  padding: 10px 10px;
  opacity: 1;
}
.footer-links a:hover {
  opacity: .5;
}
