.banner {
  padding: 40px 0;
}
.banner h1 {
  margin: 0;
  color: #cce6ff;
  font-size: 56px;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.banner p {
  color: #cce6ff;
  font-size: 20px;
  font-weight: bolder;
}
.banner h1:hover {
  color: white;
}
.banner p:hover {
  color: white;
}
