.footer {
  background: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FCF7F8;
  opacity: .5;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
