form {
  display: block;
  text-align: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  color: black;
  background-color: #cce6ff;
  border-radius: 20px;
  padding: 8px 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
input[type=submit]:hover {
  opacity: 1;
}
