.tab {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: transparent;
  margin-bottom: 30px;
}
.tab button {
  color: black;
  background-color: #cce6ff;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .6;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  opacity: 1;
  background-color: #ddd;
}
.tab button.active {
  opacity: 1;
  background-color: #ccc;
}
.tabcontent {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  padding: 16px;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
